<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="msvalidate.01" content="43CC602A8B6E2E6BD0D50A3334FD3C0A" />
  <title><%= pageTitle %></title>
  <meta name="description" content="<%= metaDescription %>" />
  <link rel="canonical" href="<%= canonical %>" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
