<header class="topbar">
  <div class="container nav">

    <a href="/" class="logo">
      <img src="/LOGO.png" alt="Teman Belanja">
    </a>

    <nav>
      <a href="/">Beranda</a>
      <a href="/produk">Produk</a>
      <a href="/artikel">Artikel</a>
    </nav>

  </div>
</header>
