<header class="topbar">
  <div class="container nav">
    <a href="/" class="logo">Teman Belanja</a>

    <nav>
      <a href="/">Beranda</a>
      <a href="/produk">Produk</a>
      <a href="/artikel">Artikel</a>

      <% if (isAdmin) { %>
        <a href="/admin">Admin</a>
        <a href="/admin/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</header>
